<div class="mt-4">
  <h3 class="food-subtitle">This is your Food Tracker</h3>
  <div class="card mt-4">
    <div class="card-body food-form">
      <form [formGroup]="foodForm" (ngSubmit)="onAddFood()" class="row g-3 align-items-center">
        <div class="col-md-4">
          <input type="text" class="form-control" formControlName="name" placeholder="Enter food name">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" formControlName="quantity" placeholder="Enter quantity">
        </div>
        <div class="col-md-4 text-end">
          <button type="submit" class="btn add-food-button" [disabled]="foodForm.invalid">Add Food</button>
        </div>
      </form>
    </div>
  </div>

  <div class="card mt-4 mb-5">
    <div class="card-body food-card-body">
      @if(groupedFoodList.length > 0) {
        @for (group of groupedFoodList; track $index) {
          <ul class="list-group">
            <li class="list-group-item date-section mt-4">{{ group.date }}</li>
            @for (food of group.food; track $index) {
            <li class="list-group-item d-flex justify-content-between align-items-center">
              {{ food.name }} - {{ food.quantity }}
              <button class="btn btn-danger btn-sm" (click)="onDeleteFood(food._id)">Delete</button>
            </li>
            }
          </ul>
        }
      }
      @else {
        <div class="d-flex justify-content-center align-items-center" style="height: 40vh;">
          <p>No food added yet</p>
        </div>
      }
    </div>
  </div>

</div>


<!-- <div class="card mt-4">
  <div class="card-body">
    @if(foodList.length > 0) {
    <ul class="list-group">
      @for (food of foodList; track $index) {
      <li class="d-flex justify-content-between align-items-center mb-3">
        {{ food.name }} - {{ food.quantity }} - {{ food.date | date: 'medium' }}
        <button class="btn btn-danger btn-sm" (click)="onDeleteFood(food._id)">Delete</button>
      </li>
      }
    </ul>
    }
    @else {
    <div class="d-flex justify-content-center align-items-center" style="height: 40vh;">
      <p>No food added yet</p>
    </div>
    }
  </div>
</div> -->