.food-card-body{
    min-height: 46vh;
}

.add-food-button{
    background: var(--dynamic-primary-color);
    color: var(--dynamic-text-color);
}

.date-section{
    background: var(--dynamic-primary-color);
    color: var(--dynamic-text-color);
}