<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Daily food tracker</a>
        <div class="d-flex align-items-center">
            <!-- <i class="fas fa-moon" (click)="toggleTheme()" style="cursor: pointer;"></i> -->
            <input class="fa-solid fa-fill" type="color" (input)="changeColor($event)" name="" id="">
           <a href="https://github.com/bittu1040/Daily-food-tracker" target="_blank" style="margin-left: 20px;"> <i class="fa-brands fa-github"></i> </a>
        </div>
    </div>
</nav>