.card {
    background-color: var(--dynamic-bg-color);
    color: var(--dynamic-text-color);
    border: 1px solid var(--dynamic-primary-color);
    box-shadow: 0 0 15px var(--dynamic-text-color);
}

.card-header {
    background-color: var(--dynamic-primary-color);
    color: var(--dynamic-text-color);
}

.btn {
    background-color: var(--dynamic-primary-color);
    color: var(--dynamic-text-color);
    border: none;
}

.btn:hover {
    opacity: 0.8;
}

.form-control {
    background-color: var(--dynamic-background-color);
    color: var(--dynamic-text-color);
    border: 1px solid var(--dynamic-primary-color);
    opacity: 0.8;
}

.form-control:focus {
    border-color: var(--dynamic-primary-color);
    box-shadow: 0 0 5px var(--dynamic-primary-color);
}

.form-control::placeholder {
    color: var(--dynamic-text-color);
    opacity: 0.5;
}