@use 'bootstrap';
@use 'ngx-toastr/toastr';

:root {  // default dark theme
    --primary-color: #15384d;
    --background-color: #ffffff;
    --text-color: #ffffff;
    --dynamic-primary-color: var(--primary-color);
    --dynamic-bg-color: var(--background-color);
    --dynamic-text-color: var(--text-color);
}

.light-theme {
    --primary-color: #1877F2;
    --background-color: #ffffff;
    --text-color: #000000;
    --dynamic-primary-color: var(--primary-color);
    --dynamic-bg-color: var(--background-color);
    --dynamic-text-color: var(--text-color);
}

/* Apply colors globally */
body {
    background-color: var(--dynamic-bg-color);
    color: var(--dynamic-text-color);
    margin: 0;
    font-family: Arial, sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--dynamic-bg-color);
}